.login-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
.sign-up-link{
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #000
}
.sign-up-link:hover{
    font-weight: 700;
}

